{$DOMAIN} {
	# API -> backend
	handle /api/* {
		reverse_proxy backend:4000
	}

	# Frontend SPA
	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}

	encode gzip
}

{$ADMIN_DOMAIN} {
	root * /srv/admin
	try_files {path} /index.html
	file_server
	encode gzip
}
